.partner-s1 {
    background-repeat: no-repeat;
    background-image: url("/img/base/bg2x-mob.png");
    background-size: cover;
    background-position: unset;
    width: 100%;
    height: 706px;

    @include sm-down {
        display: flex;
        align-items: flex-end;
    }

    @include sm {
        height: 820px;
        background-image: url("/img/base/bg-2x.png");
        background-size: cover;
        background-position: center right;
    }
}

.partner-s2 .row.row--reverse {
    flex-direction: column-reverse;

    @include sm {
        flex-direction: row-reverse;
    }
}

.partner-s1 .col50__title {
    @include font-base($fw: 600,$fz: 32px,$lh:37px);
    color: $white;
    font-family: 'Rubik', 'Arial', sans-serif;
    margin-right: auto;

    @include sm {
        @include font-base($fz: 48px,$lh: 57px);
    }
}

.partner-s1 .text-s {
    color: $white;
}

.partner-s1 .btn-wrap {
    width: 100%;
    justify-content: flex-start;
}

.partner-s1 .btn-rect {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;

    @include sm {
        margin-bottom: 0;
        max-width: 219px;
    }
}

.partner-s a.col50__link {
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm {
        justify-content: flex-start;
    }
}

.col50.col50--box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 56px;
    height: 100%;
    z-index: 3;
    position: relative;

    @include sm {
        max-width: 582px;
        width: 100%;
        padding: 246px 0;
    }

    @include sm-down {
        vertical-align: bottom;
        margin: auto 0 0;
    }
}

.partner-s .col50__img.col50__img--440 {
    display: block;
    width: 100%;
    height: auto;
    max-width: 160px;

    @include sm {
        max-width: 440px;
        height: 511px;
    }
}

.partner-s .col50.col50--right {
    @include sm-down {
      justify-content: center;
    }
}

.partner-s .row.row--reverse .col50.col50--right {
    @include sm-down {
        justify-content: center;
        margin-bottom: 40px;
    }
}

.partner-s .row .col50.col50--left {
    @include sm-down {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.partner-s .row .col50.col50--right {
    @include sm-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
}

.list__el:not(:last-child) {
    margin-bottom: 18px;
}

.list__el {
    position: relative;
    padding-left: 18px;
}

.list__el:after {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0379f7;
    border-color: transparent;
    border-style: solid;
}

.partner-s1 {
    padding-top: 70px;
}

.partner-s1.index-s1 {
    margin-bottom: 60px;
}

.p-mob {
    @include csx-down() {
        padding: 0 40px;
    }
}

.partner-s .row.row--reverse {
    @include sm-down() {
        flex-direction: column-reverse;
    }
}

.partner-s .row{
    @include sm-down() {
        flex-direction: column-reverse;
    }
}

.partner-s .col50.col50--left {
    @include sm-down() {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.partner-s1 .col50__desc {
    margin-bottom: 20px;

    @include sm-down() {
       text-align: center;
    }
}

.partner-s1 .btn-rect {
    @include sm-down() {
        margin-bottom: 40px;
    }
}

.p-110 {
    padding: 110px 0;
}

.partner-s2 .col50.col50--right {
    justify-content: center;
}

.partner-s3 {
    background-color: $blue;

    @include sm {
        background-color: $white;
    }
}

.partner-s .partner-s3 .col50__title {
    margin-bottom: 96px;
    max-width: 768px;
    text-align: center;

    @include sm {
       margin: 0 auto 68px;
    }

    @include sm-down {
        color: $white;
    }
}

.partner-s .partner-s3 .col50__title.h1 {
    @include sm-down {
        @include font-base($fz: 28px,$lh: 33px);
    }
}

.partner-s .col50__title {
    margin-bottom: 15px;

    @include sm-down {
        max-width: 100%;
        text-align: center;
    }
}

.icon-grid__el {
    display: flex;
    align-items: center;
    justify-content: center;

    @include sm-down {
        margin-bottom: 76px;
    }
}

.icon-grid__inner {
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    @include sm-down {
        flex-direction: column;
        align-items: center;
    }
}

.icon-grid__title {
    @include font-base($fw: 600,$fz: 24px,$lh: 28px);
    color: $black;
    font-family: 'Inter', 'Arial', sans-serif;

    @include sm-down {
        color: $white;
    }
}

.icon-grid__desc.text-s {
    @include font-base($fw: 400,$fz: 18px,$lh: 22px);
    max-width: 389px;
    width: 100%;

    @include sm-down {
        opacity: 60%;
        color: $white;
    }
}

.icon-grid__img {
    width: 64px;
    height: 64px;
    margin-bottom: 24px;

    @include sm {
        margin-right: 10px;
        margin-bottom: 0;
    }
}

.icon-grid__img img {
    max-width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.icon-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;

    @include sm {
        grid-template-columns: 1fr 1fr ;
    }

    @include sm-down {
        max-width: 460px;
        margin: 0 auto;
    }
}

.partner-s .col50__img.col50__img--544 {
    width: 100%;
    display: block;
    max-width: 100%;
    //max-width: 340px;
    height: 100%;
    //height: 461px;
    //
    //@include md {
    //    max-width: 544px;
    //    height: 739px;
    //}
}

.partner-s .icon-grid__content {

    @include sm-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.partner-s8 {
    background-color: $black;
    padding: 160px 0;

    @include sm {
        padding: 80px 0;
    }
}

.partner-s8 a.soc-el__link {
    background-color: $white;
    opacity: 60%;
}

.partner-s8 .h1.form__title {
    color: $white;
}

.partner-s8 .form__desc.text-s {
    color: $white;
    opacity: 60%;
}

.partner-s8 .form__textarea,
.partner-s8 .form__input {
    background: rgba(153, 156, 160, 0.2);
    color: $white;
    opacity: 80%;
}

.contact-s .row.form,
.partner-s .partner-s8 .row.form {
    @include sm-down {
        flex-direction: column;
    }
}

.form .col50.col50--left {
    margin-bottom: 0;
}


