.contact-s1 {
    padding-bottom: 80px;

    @include sm {
        padding-top: 230px;
    }
}

.contact-s1 .btn-rect {
    margin-bottom: 0;
}

.contact-s1 .form__content-bottom.form__content-bottom--mob {
    display: block;
    max-width: 100%;
    margin: 30px auto 0;
    text-align: start;

    @include md {
        display: none;
    }
}

.contact-s1 .form .soc-el {
    border-radius: 50%;
    background-color: $gray-tx;
}

.contact-s1 .form .soc-el:not(:last-child) {
    margin-right: 40px;
}

.contact-s1 .form__content-bottom.form__content-bottom--mob .form__content-inner {
    text-align: center;
    @include md {
        text-align: start;
    }
}

.contact-s1 .form__content-bottom.form__content-bottom--desk .form__content-inner{
    @include sm-down() {
        max-width: 100%;
        margin: 30px 0 0;
    }

    @include sm {
        text-align: center;
    }

    @include md {
        text-align: start;
    }
}

//.contact-s1 .form__content-bottom.form__content-bottom--mob .form__desc.text-s {
//    font-size: 14px;
//}

.contact-s1 .form__content-bottom.form__content-bottom--desk .form__desc.text-s {
    @include md-down() {
        font-size: 14px;
    }
}

.contact-s1 .form .form__content-bottom.form__content-bottom--desk .soc-el:first-child {
    margin-right: 40px;
}
.contact-s1 .form .form__content-bottom.form__content-bottom--desk .soc-el:not(:last-child) {
    margin-right: 40px;
}

.contact-s1 .form__content-bottom.form__content-bottom--mob .h2 {
    font-size: 16px;
    margin-top: 10px;
}

.contact-s1 .form__content-bottom.form__content-bottom--mob .soc-list {
    justify-content: flex-start;
    @include md-down() {
        justify-content: center;
    }
}

.contact-s1 .form__content-bottom.form__content-bottom--desk .soc-list {

    @include sm() {
        margin-bottom: 20px;
    }

    @include md() {
        margin-bottom: 0;
    }
}

.form__btns .btn-rect.btn-green {
    background-color: $green-extra;
    color: $white;
    font-weight: 600;
    display: none;
}

.form__btns .btn-rect.btn-transparent {
    background-color: $white;
    color: $blue;
    font-weight: 400;
    display: none;
}

.form__btns .btn-rect.btn-transparent.visible,
.form__btns .btn-rect.btn-green.visible {
    display: flex;
}

.form__btns .btn-rect.btn-blue.visible {
    display: none;
}

.form__btns .btn-rect.btn-blue {
    display: flex;
}

.form__btns .btn-rect.btn-transparent {
    margin-left: 16px;
}

.footer.footer--black {
    background-color: $black;
}

.footer.footer--black .nav-item__link.text-m {
    color: $white;
}

.footer.footer--black .grid-item__title.text-s {
    color: $white;
    opacity: 60%;
}
