.row {
    @include flex-column();

    @include sm {
        @include flex-row();
    }
}

.row.row--reverse {
    @include flex-column($j-start: flex-start);

    @include sm {
        @include flex-row($fl-dir: row-reverse, $a-start: center, $j-start: space-between);
    }
}

.col50 {
    width: 100%;
    max-width: 100%;

    @include sm {
        max-width: 47%;
    }
}

.col50__title {
    max-width: 498px;
    margin-bottom: 8px;
}

.index-s .col50__title {
    margin-bottom: 8px;

    @include sm-down {
        margin: 0 auto 8px;
        text-align: center;
    }
}

.btn-rect.btn-black {
    margin-bottom: 10px;

    @include sm {
        margin-bottom: 0;
    }
}

.btn-rect.btn-black:first-child {
    margin-right: 0;
    @include sm {
        margin-right: 40px;
    }
}

.index-s1 .btn-wrap,
.index-s7 .btn-wrap {
    margin-top: 25px;
}

.index-s .overtitle {
    @include sm-down() {
        text-align: center;
    }
}

.btn-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include csx-down() {
        align-items: center;
    }

    @include sm {
        flex-direction: row;
    }
}

.index-s1 .col50__subdesc {
    @include sm-down {
       margin: 0 auto;
        text-align: center;
    }
}

.index-s7 .btn-wrap,
.index-s1 .btn-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include sm {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.pb-8 {
    padding-bottom: 8px;
}

.col50.col50--right {
    display: flex;
    justify-content: center;
}

.index-s9 .col50.col50--right {
    @include sm-down {
        justify-content: center;
    }
}

.p-csx-90 {
    @include sm {
        padding: 90px 0;
    }

    @include lgx {
        padding: 0;
    }
}

.bg-s-mob {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/img/base/bg.png");
}

.img-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;

    @include csx {
        grid-template-columns: 1fr 1fr;
    }

    @include sm {
        grid-gap: 70px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include lgx {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.img-grid__el {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-grid__el img {
    height: auto;
    max-width: 120px;
    width: 100%;

    @include csx() {
        max-width: 200px;
    }
}

.index-s1 {
    padding-top: 70px;
    @include sm {
        padding-top: 120px;
    }
}

.col50.col50--left {
    @include sm-down {
        margin-bottom: 25px;
    }
}

.index-s1 .col50.col50--left {
    margin-bottom: 90px;

    @include sm {
        margin-bottom: 0;
    }
}

.index-s2 .col50.col50--left,
.index-s6 .col50.col50--left {
    margin-bottom: 42px;

    @include sm {
        margin-bottom: 0;
    }
}

.index-s .col50__desc {
    @include sm-down {
        text-align: center;
    }
}

.pb-160-m {
    padding-bottom: 160px;
}

.index-s6 .col50__img.col50__img--385 {
    max-width: 280px;
    width: 80%;
    height: auto;
    margin-bottom: 40px;

    @include csx {
        margin-bottom: 0;
        max-width: 300px;
    }

    @include sm {
        max-width: 400px;
    }
}
.index-s5 .col50.col50--right.bg-s-mob {
    padding: 160px 0;
    @include sm-down {
        padding: 100px 0 260px;
    }
}

.index-s5 .bg-s-mob {

    @include sm-down {
        background-image: url("/img/base/bg-s5.png");
        background-position: top;
        background-size: 100%;
    }
}

.index-s6 .row,
.index-s5 .row {
    @include sm-down() {
        flex-direction: column;
    }
}

.index-s5 .col50__img.col50__img--385 {
    width: 80%;
    height: auto;

    @include md {
        max-width: 400px;
    }
}

.col50__subdesc.text-x {
    max-width: 477px;
    width: 100%;
}

.index-s7 {
    background: linear-gradient(93.16deg, #FF4545 -4.03%, #FF457D 113.72%, #FF45B5 113.72%);
    padding: 70px 0 84px;
    position: relative;

    @include sm {
        padding: 100px 0 100px;
    }

    @include md {
        padding: 175px 0 190px;
    }
}

.index-s-mob.index-s-mob--bg {
    background: linear-gradient(93.16deg, #FF4545 -4.03%, #FF457D 113.72%, #FF45B5 113.72%);
}

.index-s8 h1 {
    margin: 0 auto 8px;
}

.index-s8 {
    text-align: center;
    padding: 154px 0 85px;

    @include md {
        padding: 220px 0;
    }
}

.index-s8 .row-grid__desc {
    width: 100%;
    margin: 0 auto 65px;

    @include sm {
        max-width: 768px;
        margin-bottom: 110px;
    }
}

.index-s7 .col50__img.col50__img--340 {

    @include sm {
        position: absolute;
        top: -60px;
        right: 0;
        z-index: 10;
    }
}

.index-s a.col50__link {
    display: flex;
    justify-content: center;
    align-items: center;

    @include sm {
        justify-content: flex-start;
    }
}

.col50__link-img {
    display: inline-block;
    @include sm {
        display: none;
    }
}

.col50__link img {
    margin-left: 10px;
}

.index-s9 .col50__desc.text-s,
.index-s9 h1,
.index-s7 .col50__desc.text-s,
.index-s7 h1 {
    color: $white;
}

.index-s7 h1 {
    @include csx-down() {
        max-width: 281px;
    }
}

.index-s9 {
    background: linear-gradient(94.86deg, #0379F7 -1.01%, #0379F7 31.88%, #03C2F7 86.86%, rgba(3, 247, 227, 0.6) 110.55%);
    padding: 80px 0 0;
    position: relative;

    @include md {
        padding: 143px 0 166px;
    }
}

.index-s9 .col50.col50--left {
    @include sm-down {
        width: 100%;
        text-align: center;
    }
}

.index-s9 .btn-wrap {
    margin-top: 40px;

    @include sm-down {
        align-items: center;
        margin-bottom: 40px;
    }
}

.index-s9 .btn-rect {
    margin-bottom: 0;
}

.index-s9 .col50__img.col50__img--340 {
    display: block;
    max-width: 257px;
    height: 376px;
    width: 100%;

    @include lgx {
        max-width: 480px;
        height: 700px;
        position: absolute;
        bottom: 0;
        right: 80px;
        z-index: 10;
    }
}

.index-s9 .btn-rect.btn-white-blue {
    margin-bottom: 0;

    @include sm {
        margin-right: 0;
        max-width: 200px;
    }
}

.col50__img.col50__img--340 {
    min-width: 260px;
    max-width: 280px;
    width: 100%;
    height: auto;
    display: block;

    @include sm {
        max-width: 300px;
    }

    @include md {
        max-width: 340px;
    }
}

.partner-s1 .col50.col50--right,
.index-s1 .col50.col50--right.col50--mob {
    @include sm-down {
        display: none;
    }
}

.partner-s-mob,
.index-s-mob {
    display: none;

    @include sm-down {
        display: block;
    }
}

.index-s-mob .bg-s-mob.col50.col50--right {
    display: none;

    @include sm-down() {
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        background-image: url("/img/base/bg.png");
        background-size: clamp(110%,4em,115%);
        background-position: center;
        padding: 60px 0 169px;
    }
}

a.col50__link {
    color: $blue;
    @include font-base($fw: 400,$fz: 18px,$lh: 22px);
    font-family: 'Inter', 'Arial', sans-serif;
    display: inline-block;
    margin-top: 20px;
}

//
//.form-control {
//    position: relative;
//}
//
//.form-control .form__label {
//    position: absolute;
//    font-weight: 600;
//    font-size: 18px;
//    line-height: 32px;
//    left: 24px;
//    top: 16px;
//    color: #85888C;
//    transition: all .2s ease;
//}
//
//.form-control .form__label span {
//    color: red;
//}
//
//.form-control textarea:focus + .form__label,
//.form-control input:focus + .form__label {
//    top: 0;
//    font-size: 10px;
//    color: $black;
//}
//
//.form-control:focus {
//    border-color: $blue;
//}
//
//.form-control input:focus .form__label {
//    color: $blue;
//}
//
//.form-control:valid {
//    border-color: #42d142;
//}
//
//.form-control:invalid .form__label,
//.form-control:invalid {
//    border-color: $red;
//}

//

//.label {
//    position: relative;
//    display: block;
//    height: 48px;
//    cursor: text;
//}
//
//.label input {
//    position: absolute;
//    bottom: 0;
//    border: 0;
//    height: 2px;
//    width: 100%;
//    padding: 0 0 0 35px;
//    transition: all 0.3s ease;
//    vertical-align: bottom;
//    font-size: 16px;
//    box-sizing: border-box;
//    border-bottom: 1px solid transparent;
//    color: #85888C;
//}
//
//.label input:focus,
//.label input.filled {
//    height: 100%;
//    width: 100%;
//    background: $white;
//    border: 2px solid transparent;
//    outline: none;
//}
//
//.label input:focus + label,
//.label input.filled + label {
//    position: absolute;
//    transform: translateY(-34px);
//    font-size: 12px;
//    color: #85888C;
//}
//
//.label input + label {
//    color: #85888C;
//    line-height: 48px;
//    padding-left: 3px;
//    transform: translateY(0);
//    transition: all 0.3s ease;
//    pointer-events: none;
//}
//
