.row {
    @include flex-column();

    @include sm {
        @include flex-row();
    }
}

.row.row--reverse {
    @include flex-column($j-start: flex-start);

    @include sm {
        @include flex-row($fl-dir: row-reverse, $a-start: center, $j-start: space-between);
    }
}

.col50 {
    width: 100%;
    max-width: 100%;

    @include sm {
        max-width: 47%;
    }
}

.col50__title {
    margin-bottom: 8px;
}

.index-s .col50__title {
    margin-bottom: 8px;

    @include sm-down {
        margin: 0 auto 8px;
        text-align: center;
    }
}

.btn-rect.btn-black {
    margin-bottom: 10px;

    @include sm {
        margin-bottom: 0;
    }
}

.btn-rect.btn-black:first-child {
    margin-right: 0;
    @include sm {
        margin-right: 40px;
    }
}

.index-s1 .btn-wrap,
.index-s7 .btn-wrap {
    margin-top: clamp(20px, 3vh, 25px);
}

.overtitle {
    text-transform: uppercase;
}

.index-s .overtitle {
    @include sm-down() {
        text-align: center;
    }
}

.btn-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include csx-down() {
        align-items: center;
    }

    @include sm {
        flex-direction: row;
    }
}

.index-s1 .col50__subdesc {
    @include sm-down {
       margin: 0 auto;
        text-align: center;
    }
}

.index-s7 .btn-wrap,
.index-s1 .btn-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include sm {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.pb-8 {
    padding-bottom: 8px;
}

.col50.col50--right {
    display: flex;
    justify-content: center;
}

.index-s9 .col50.col50--right {
    @include sm-down {
        justify-content: center;
    }
}

.p-csx-90 {
    @include sm {
        padding: 90px 0;
    }

    @include lgx {
        padding: 0;
    }
}

.bg-s-mob {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/img/base/bg.png");
}

.index-s1 .bg-s-mob {
    background-image: url("/img/base/bgr1.png");
}

.index-s2 .bg-s-mob {
    background-image: url("/img/base/bgr2.png");
}

.index-s2 {
    padding-bottom: 140px;
}

.index-s3 .bg-s-mob {
    background-image: url("/img/base/bgr3.png");
    background-size: cover;
    padding: 20px 0;
}

.index-s4 .bg-s-mob {

    @include sm-down {
        margin-bottom: 160px;
        padding-bottom: 40px;
        background-size: cover;
    }
}

.index-s6 .bg-s-mob {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/img/base/bg6-mob.png");
    @include sm-down {
        background-size: cover;
    }
}

.img-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;
    margin-top: 65px;

    @include csx {
        grid-template-columns: 1fr 1fr;
    }

    @include sm {
        grid-gap: 70px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include lgx {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.img-grid__el {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-grid__el img {
    height: auto;
    max-width: 160px;
    width: 100%;

    @include sm {
        max-width: 200px;
    }
}

.img-grid__el:nth-child(7) img {
    @include sm {
        max-width: 150px;
    }
}

.index-s1 {
    padding-top: 70px;
    @include sm {
        padding-top: clamp(20px, 2vh, 90px);
    }
}

.col50.col50--left {
    @include sm-down {
        margin-bottom: 25px;
    }
}

.col50__img-wrap {
    height: 90vh;

    @include sm {
        height: 73vh;
        min-height: 360px;
        max-height: 650px;
    }
}


.index-s6 .col50__img-wrap {
    @include sm-down {
        height: 85vh;
    }
}

.index-s1 .col50.col50--left {
    margin-bottom: 90px;

    @include sm {
        margin-bottom: 0;
    }
}

.index-s2 .col50.col50--left,
.index-s6 .col50.col50--left {
    margin-bottom: 44px;

    @include sm {
        margin-bottom: 0;
    }
}

.index-s .col50__desc {
    @include sm-down {
        text-align: center;
    }
}

.pb-160-m {
    padding-bottom: 160px;
}

.index-s4 .col50.col50--right.bg-s-mob {
    @include sm-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.index-s5 .bg-s-mob {
    background-position: clamp(40%, 3vh, 110%);
    background-size: contain;
    background-image: url("/img/base/bg-s5.png");
    @include sm-down {
        background-position: top;
        background-size: 100%;
    }
}

.index-s5 .col50.col50--right.bg-s-mob {
    padding: 70px 0;
    @include sm-down {
        padding: 100px 0 145px;
    }
}

.index-s6 .row,
.index-s5 .row {
    @include sm-down() {
        flex-direction: column;
    }
}

.index-s5 .col50__img.col50__img--385 {
    width: 100%;
    height: auto;

    @include md {
        max-width: 400px;
    }
}

.col50__subdesc.text-x {
    max-width: 477px;
    width: 100%;
}

.index-s7 {
    background: linear-gradient( to bottom, #FF4545 -4.03%, #FF457D 113.72%, #FF45B5 113.72%);
    padding: 80px 0 78px;
    position: relative;

    @include sm {
        background: linear-gradient(93.16deg, #FF4545 -4.03%, #FF457D 113.72%, #FF45B5 113.72%);
        padding: 100px 0 100px;
    }

    @include md {
        padding: clamp(100px, 4vh, 160px);
    }
}

.index-s-mob.index-s-mob--bg {
    background: linear-gradient(93.16deg, #FF4545 -4.03%, #FF457D 113.72%, #FF45B5 113.72%);
}

.index-s8 h1 {
    margin: 0 auto 8px;
}

.index-s8 {
    text-align: center;
    padding: 154px 0 85px;

    @include md {
        padding: 220px 0;
    }
}

.index-s8 .row-grid__desc {
    width: 100%;
    margin: 0 auto;

    @include sm {
        max-width: 768px;
    }
}

.index-s7 .col50__img-wrap {
    height: 90vh;

    @include sm {
        height: 90vh;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }
}

.partner-s a.col50__link,
.index-s a.col50__link {
    color: $blue;
    @include font-base($fw: 400,$fz: 18px,$lh: 22px);
    font-family: 'Inter', 'Arial', sans-serif;
    margin-top: 20px;
}

.index-s a.col50__link.col50__link--mob {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    @include sm {
        display: none;
    }
    @include sm-down {
        margin-top: 48px;
    }
}

.index-s a.col50__link.col50__link--desk {
    display: none;

    @include sm {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.col50__link-img {
    display: inline-block;
    @include sm {
        display: none;
    }
}

.col50__link img {
    margin-left: 10px;
}

.col50__link.col50__link--mob .col50__link img {
    margin-left: 13px;
}

.index-s9 .col50__desc.text-s,
.index-s9 h1,
.index-s7 .col50__desc.text-s,
.index-s7 h1 {
    color: $white;
}

.index-s7 h1 {
    @include csx-down() {
        max-width: 281px;
    }
}

.index-s8 .col50__link {
    display: none;
    margin-top: 8px;
}

.index-s9 {
    background: linear-gradient(to bottom, #0379F7 -1.01%, #0379F7 31.88%, #03C2F7 86.86%, rgba(3, 247, 227, 0.6) 110.55%);
    padding: 80px 0 0;
    position: relative;

    @include sm {
        background: linear-gradient(94.86deg, #0379F7 -1.01%, #0379F7 31.88%, #03C2F7 86.86%, rgba(3, 247, 227, 0.6) 110.55%), linear-gradient(93.16deg, #FF4545 -4.03%, #FF457D 36.38%, #FF45B5 63.57%, #E240D2 96.24%, rgba(255, 69, 125, 0) 113.72%);
        padding: clamp(100px, 4vh, 150px);
    }
}

.index-s9 .col50.col50--left {
    @include sm-down {
        width: 100%;
        text-align: center;
    }
}

.index-s9 .btn-wrap {
    margin-top: 40px;

    @include sm-down {
        align-items: center;
        margin-bottom: 40px;
    }
}

.index-s9 .btn-rect {
    margin-bottom: 0;
}

.index-s7 .col50.col50--right.bg-s-mob {
    position: relative;
}

.index-s9 .col50__img.col50__img--340 {
    display: block;

    height: 376px;
    width: 100%;
    @include sm-down {
        max-width: 257px;
    }

    @include sm {
        height: 100vh;
        max-height: 650px;
        width: auto;
        position: absolute;
        bottom: 0;
        z-index: 10;
    }
}

.index-s9 .btn-rect.btn-white-blue {
    margin-bottom: 0;

    @include sm {
        margin-right: 0;
        max-width: 200px;
    }
}

.col50__img.col50__img--340 {
    width: 100%;
    height: 100%;
    display: block;
}

.partner-s1 .col50.col50--right,
.index-s1 .col50.col50--right.col50--mob {
    @include sm-down {
        display: none;
    }
}

.partner-s-mob,
.index-s-mob {
    display: none;

    @include sm-down {
        display: block;
    }
}

.index-s-mob .bg-s-mob.col50.col50--right {
    display: none;

    @include sm-down() {
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        background-image: url("/img/base/bg.png");
        background-size: clamp(110%,4em,115%);
        background-position: center;
        padding: 60px 0 169px;
    }
}

.index-s9 .col50.col50--left {
    @include sm-down {
        margin-bottom: 0;
    }
}
