.main.terms-s {
    overflow: visible;
}

.terms-s1 {
    padding: 24px 0 80px;

    @include sm {
        padding: 0 0 80px;
    }
}

.h1.terms-s__title {
    letter-spacing: 0.01em;
    color: #010101;
    width: 100%;
    max-width: 360px;
    @include font-base($fw: 600,$fz: 48px,$lh: 57px);
    font-family: 'Rubik', 'Arial', sans-serif;
}

.terms-s .terms-s__col70 h1 {
    @include font-base($fw: 600,$fz: 28px,$lh: 38px);
    color: $black;
    font-family: 'Rubik', 'Arial', sans-serif;
    padding-bottom: 24px;
}

.terms-s .terms-s__col70 p {
    @include font-base($fw: 400,$fz: 16px,$lh: 19px);
    color: $gray-tx;
    font-family: 'Rubik', 'Arial', sans-serif;
}

.terms-s .terms-s__col70 ol {
    counter-reset: section;
    list-style-type: none;
}

.terms-s .terms-s__col70 ol li::before {
    counter-increment: section;
    content: counters(section,".") " ";
    color: $gray-tx;
    margin-bottom: 8px;
    font-weight: 700;
}

.terms-s .terms-s__col70 ol > li {
    color: $gray-tx;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
    padding-top: 24px;
}

.terms-s .terms-s__col70 ol li ol li {
    font-weight: 400;
    padding-top: 0;
}

.terms-s .terms-s__col70 ol > li ol {
    padding-top: 8px;
}

.terms-s .terms-s__col70 ul {
    padding-top: 8px;
}

.terms-s .terms-s__col70 ul > li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 20px;
}

.terms-s .terms-s__col70 ul > li:before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
}

.terms-s .terms-s__col70 div {
    letter-spacing: 0.01em;
    @include font-base($fw: 600,$fz: 16px,$lh: 19px);
    color: $black;
    font-family: 'Rubik', 'Arial', sans-serif;
    padding-top: 16px;
}

.terms-s__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #516176;
}

.terms-s__row {
    display: flex;
    flex-direction: column;
    position: relative;

    @include sm {
        flex-direction: row;
        justify-content: space-between;
    }
}

.terms-s__col30 {
    width: 100%;
    height: 100%;

    @include sm {
        position: sticky;
        top: 0;
        left: 0;
        width: 30%;
    }
}

.terms-s__col70 {
    width: 100%;

    @include sm {
        width: 65%;
        padding-top: 160px;
    }
}

.terms-s__links.terms-s__links--desk {
    display: none;

    @include sm {
        display: block;
    }
}

.terms-s__links.terms-s__links--desk .terms-s__el:not(:last-child) {
    margin-bottom: 16px;
}

.terms-s__title {
    display: none;

    @include sm {
      display: block;
        margin-bottom: 45px;
    }
}

.terms-s__el {
    margin-left: 20px;
    position: relative;
}

.terms-s__el a.terms-s__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: $gray-lite;
    font-family: 'Inter', 'Arial', sans-serif;
}

.terms-s__el.active a.terms-s__link {
    color: $blue;
}

.active.terms-s__el:after {
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    left: -13px;
    width: 6px;
    height: 6px;
    background-color: $blue;
    border-radius: 50%;
}

.select-wrapper.select-wrapper--mob {
    display: block;
    width: 100%;
    margin-bottom: 40px;

    @include sm {
        display: none;
    }
}

.select-wrapper.select-wrapper--mob .select__item span.active {
    color: $black;
    font-weight: 600;
}

.select-wrapper--mob .select__header{
    border: 1px solid rgba(153, 156, 160, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 9px 8px 24px;
    justify-content: space-between;
}

.select-wrapper--mob .select__current {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #85888C;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-wrapper--mob .select__icon {
    transform: rotate(0deg);
}

.select-wrapper--mob .select.is-active .select__icon {
    transform: rotate(180deg);
}

.select-wrapper--mob .select__item {
    font-size: 14px;
}

.select-wrapper--mob .select__item:active {
    font-weight: 500;
}

.select__item.active {
    font-weight: 600;
    color: $black;
}

.overlay-modal .select__item.active{
    font-weight: 600;
    color: $black;
}
