.btn {
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.btn-rect {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Inter', 'Arial', sans-serif;
    line-height: 32px;
    font-weight: 500;
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    white-space: nowrap;

    @include sm {
        margin-bottom: 0;
        margin-right: 10px;
        max-width: 174px;
    }
}

.btn-rect.btn-black {
    height: 54px;

    @include sm {
        max-width: 164px;
    }
}

.btn-wrap .btn-rect.btn-black:first-child {
    @include sm {
        margin-right: 24px;
    }
}

.btn__icon.btn__icon--apple,
.btn__icon.btn__icon--google {
    width: 20px;
}

.btn-blue:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #0379F7;
}

.btn-blue:active,
.btn-blue:focus {
    background: $blue-a;
}

.btn__title-wrap {
    display: flex;
    flex-direction: column;
}

.btn-rect .btn__title {
    line-height: 1;
}

.btn__title.btn__title--small {
    font-size: 12px;
}

.btn-black {
    background-color: $black;
}

.btn-blue {
    background-color: $blue;
}

.btn-red {
    background-color: $red;
}

.btn-white-black{
    background-color: $white;
    color: $black;
}

.btn-white-red {
    background-color: $white;
    color: $red;
}

.btn-white-blue:active,
.btn-white-red:active,
.btn-white-blue:hover,
.btn-white-red:hover,
.btn-white-blue:focus,
.btn-white-red:focus {
    background-color: $gray-h;
}

.btn-blue svg {
    color: $white;
}

.btn-white-red svg{
    color: $red;
}

.btn__icon {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

