//Indents
$indent: 10px;

//Sizes
$xl_width: 1600px;
$lg_width: 1310px;
$lg_width_inner: 1400px;
$lgx_width: 1024px;
$md_width: 992px;
$sm_width: 768px;
$csx_width: 480px;
$xs_width: 320px;

$container-width: 1280px;
$container-padding: 40px;
$container-padding-csx: 10px;

//Colors
$black: #000000;
$white: #fdfdfd;
$gray-tx: #516176;
$gray-l: #f4f4f4;
$gray-lite: #999CA0;
$gray-h: #f5f5f5;
$blue: #0379f7;
$blue-h: #0379F7;
$blue-a: #0330F7;
$red: #e83725;
$orange: #ff3333;
$orange-l: #ffe8e5;
$green: #62c584;
