.footer {
    width: 100%;
}

.footer__row {
    @include flex-column();

    @include csx {
        @include flex-row();
    }
}

.footer__row.footer--top {
    padding: 65px 0 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;

    @include sm {
        padding: 220px 0 75px;
    }
}

.footer-col.footer-col--left {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;

    @include csx {
        max-width: 50%;
    }

    @include sm {
        max-width: 40%;
    }
}

.footer-col.footer-col--right {
    max-width: 100%;
    width: 100%;

    @include csx {
        max-width: 40%;
    }

    @include sm {
        max-width: 55%;
    }

    @include md {
        max-width: 65%;
    }
}

.footer-grid {
    //display: flex;
    //justify-content: space-between;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    @include sm {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    @include lgx {
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.grid-item {
    max-width: 200px;
    width: 100%;
    @include sm-down {
       margin: 0 auto;
        text-align: center;
    }
}

.grid-item:not(:last-child) {
    margin-bottom: 10px;

    @include sm {
        margin-bottom: 0;
        margin-right: 10px;
    }
}

.footer .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include sm {
        align-items: flex-start;
    }
}

.footer .nav__list.nav__list--soc {
    @include sm-down {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer .nav__list.nav__list--soc .nav-item__soc-title {
    display: none;
    @include sm {
        display: inline-block;
    }
}
//
//.grid-item.grid-item--t {
//    display: none;
//
//    @include sm {
//        display: block;
//    }
//}
//
//.grid-item.grid-item--desc {
//    display: none;
//
//    @include lgx {
//        display: block;
//    }
//}

//.footer-col.footer-col--desc {
//    display: block;
//
//    @include csx {
//        display: none;
//    }
//
//    @include md {
//        display: block;
//    }
//}

.footer__logo {
    margin-bottom: 20px;
    width: 48px;
    height: 40px;
}

.footer-col.footer-col--left .footer__link {
    @include font-base($fw: 600,$fz: 20px,$lh: 1.55);
    font-family: 'Rubik', 'Arial', sans-serif;

    @include sm {
        @include font-base($fw: 600,$fz: 26px,$lh: 1.55);
        font-family: 'Rubik', 'Arial', sans-serif;
    }
}

a.link-mail {
    color: $blue;
}

a.link-phone {
    color: $black;
    @include csx-down {
        margin-bottom: 10px;
    }
}

.grid-item__title {
    margin-bottom: 30px;
    display: inline-block;
}

.footer .nav-item:not(:last-child) {
    margin-bottom: 16px;

    @include sm {
        margin-bottom: 24px;
    }
}

.footer .nav__list.nav__list--soc .nav-item {
    @include sm-down {
        margin-bottom: 0;
    }
}

.footer .nav__list.nav__list--soc .nav-item .nav-item__img  {
  margin-right: 8px;
}

.footer .nav__list.nav__list--soc .nav-item:last-child .nav-item__img {
    @include sm-down {
        margin-right: 8px;
    }
}

.nav-item__link {
    display: flex;
    align-items: center;
    font-weight: 400;
}

.nav-item.nav-item--download .nav-item__img {
    margin-right: 8px;
}

a.nav-item__link:hover {
    color: $blue;
}

    //
.footer__row.footer--bottom {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer--bottom .footer__col {
    max-width: 100%;
    width: 100%;

    @include csx {
        max-width: 50%;
    }

    @include md {
        max-width: 35%;
    }
}

@include csx-down() {
    .footer--bottom .footer__col:not(:last-child) {
        margin-bottom: 10px;
    }
}

.footer__row.footer--bottom a {
    color: $blue;
    @include font-base($fw: 400,$fz: 14px,$lh: 1.55);
    font-family: 'Inter', Arial, sans-serif;

    @include sm {
        @include font-base($fz: 16px);
    }
}

.footer-col__copy,
.footer-col__desc {
    @include font-base($fw: 400,$fz: 14px,$lh: 1.55);
    color: $gray-tx;
    font-family: 'Inter', 'Arial', sans-serif;
}

.footer-col__desc {
    display: flex;
    flex-direction: column;
    text-align: end;
    white-space: nowrap;

    @include sm-down {
        //max-width: 230px;
        //margin-left: auto;
    }

    @include csx {
        text-align: start;
    }

    @include md {
        max-width: 282px;
    }
}

//.soc-el__icon.icon-gp svg,
//.soc-el__icon.icon-ap svg {
//    width: 30px;
//    height: 30px;
//}

.nav-item--download .nav-item__img {
    width: 16px;
    height: 19px;
}

.nav-item--social .nav-item__img {
    width: 24px;
    height: 24px;
}
