.row.form {

    @include md-down() {
        @include flex-column($fl-dir: column, $a-start: center, $j-start: flex-start);
    }
    @include md {
        @include flex-row($a-start: flex-start);
    }
}

.form .soc-list {
    @include md-down() {
        justify-content: center;
    }
}

.form .soc-el:first-child {
    margin-right: 40px;
}

.form .form__content-bottom.form__content-bottom--desk .soc-el:first-child {
    @include md {
        margin-right: 10px;
    }
}

.form .form__content-bottom.form__content-bottom--mob .soc-el {
    @include md-down {
        margin-right: 40px;
    }
}

.form .form__content-bottom.form__content-bottom--mob .soc-el:last-child {
    @include md-down {
        margin-right: 0;
    }
}

.form .col50.col50--left {
    @include sm {
        max-width: 100%;
    }

    @include md {
        max-width: 50%;
    }

    @include sm-down() {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.form__content-inner {
    max-width: 100%;
    margin: 0;
    text-align: center;

    @include md {
        text-align: start;
        max-width: 50%;
        margin: 0 auto;
    }

    @include lgx {
        max-width: 100%;
        margin: 0;
    }
}

.form__content-bottom.form__content-bottom--desk {
    display: none;

    @include md {
        display: block;
    }
}

.form__content-bottom.form__content-bottom--mob {
    display: block;
    margin: 40px auto 0;

    @include md {
        display: none;
    }
}

.form .col50.col50--right {
    display: flex;
    flex-direction: column;
}

.form .col50 {
    @include md-down {
        max-width: 100%;
    }
}

.form .btn-rect {
    margin-right: 0;
    margin-top: 10px;
    max-width: 100%;

    @include sm {
        width: 160px;
    }
}

.form .col50.col50--right {
    justify-content: flex-start;
}

.form__content-top {
    margin-bottom: 20px;

    @include sm-down() {
        text-align: center;
        margin-bottom: 40px;
    }

    @include md {
        padding-left: 60px;
        margin-bottom: 100px;
    }

    @include lgx {
        padding-left: 0;
    }
}

.form__title {
    margin-bottom: 30px;
}

.form__content-bottom {
    @include sm-down() {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.form .soc-el__icon.icon-fb svg,
.form .soc-el__icon.icon-insta svg {
    color: $white;
    width: 30px;
    height: 30px;
}

.form__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__label {
    color: #85888C;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Inter', 'Arial', sans-serif;
}

.form__label span {
    color: $red;
}

.form__input,
.form__textarea {
    color: $black;
    border: 0 solid transparent;
    background-color: #f0f0f0;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', 'Arial', sans-serif;
    width: 100%;
    outline: none;
}

.form__input.error {
    border: 1px solid $red;
}

.form__input {
    padding: 10px 20px;
    height: 64px;
    margin-bottom: 10px;
}

.form__textarea {
    padding: 25px 20px;
    height: 135px;
    resize: none;
    margin-bottom: 10px;
}

//

.invalid {
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.hide {
    display: none;
}

.form__btns {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include sm {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

//
.form-control,
.mdl-textfield {
    position: relative;
}

input ~ .form__label {
    top: 18px;
}

textarea ~ .form__label {
    top: 18px;
}

textarea:focus ~ .form__label,
input:focus ~ .form__label {
    left: 20px;
    opacity: 1;
    color: $blue;
}

textarea:valid ~ .form__label,
input:valid ~ .form__label {
    bottom: 10px;
    left: 20px;
    opacity: 1;
}

.form__textarea.invalid ~ .form__label,
.form__input.invalid ~ .form__label {
    color: $red;
}

input ~ .form__label.label-top {
    top: -2px;
    font-size: 11px;
}

textarea ~ .form__label.label-top {
    top: 0;
    font-size: 11px;
}

.input-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Inter', 'Arial', sans-serif;
}

.form__label,
.floating-label {
    position: absolute;
    pointer-events: none;
    left: 34px;
    top: 30px;
    transition: 0.2s ease all;
}

/* Cluttered Magic */
textarea:focus::-webkit-input-placeholder,
textarea:valid::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder,
input:valid::-webkit-input-placeholder{
    opacity: 1;
}

textarea:focus::-moz-placeholder,
textarea:valid::-moz-placeholder,
input:focus::-moz-placeholder,
input:valid::-moz-placeholder{
    opacity: 1;
}

textarea:focus:-ms-input-placeholder,
textarea:valid:-ms-input-placeholder,
input:focus:-ms-input-placeholder,
input:valid:-ms-input-placeholder{
    opacity: 1;
}

textarea:focus:-moz-placeholder,
textarea:valid:-moz-placeholder,
input:focus:-moz-placeholder,
input:valid:-moz-placeholder {
    opacity: 1;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: 0.2s ease opacity;
    transition: 0.2s ease opacity;
}

textarea::-moz-placeholder,
input::-moz-placeholder,
input::-moz-placeholder {
    opacity: 0;
    -webkit-transition: 0.2s ease opacity;
    transition: 0.2s ease opacity;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder,
input:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: 0.2s ease opacity;
    transition: 0.2s ease opacity;
}

textarea:-moz-placeholder,
input:-moz-placeholder,
input:-moz-placeholder {
    opacity: 0;
    -webkit-transition: 0.2s ease opacity;
    transition: 0.2s ease opacity;
}

