.header {
    background: $white;
    width: 100%;

    @include md-down() {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 101;
    }
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    z-index: 10000;
    position: sticky;
    padding: 16px 0;

    @include sm {
        padding: 32px 0;
    }
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col.header__col--left {
    justify-content: flex-start;
}

.header__title-mob {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    font-family: "Rubik", "Arial", sans-serif;
    display: inline-block;
    color: $black;
    margin: 0 auto;
}

.header-logo {
    width: 48px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;

    @include sm {
        margin-right: 60px;
    }
}

.nav-list {
    text-align: center;
}

.header__name,
.nav.nav--desk {
    display: none;

    @include md {
        display: block;
    }
}

.menu-overlay .nav__list {
    width: 100%;
    text-align: center;
}

.nav__list.nav__list--header {
    display: flex;
}

.nav__list.nav__list--inner {
    border-bottom: 1px solid $gray-l;
    padding: 20px;
}

.nav.nav--desk .nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav.nav--mob .nav-item__link {
    color: $black;
    @include font-base($fw: 400,$fz: 18px,$lh: 1.55);
    font-family: 'Inter', 'Arial', sans-serif;
}

.nav-item {
    position: relative;
}

.nav-item__top.nav-item__link {
    @include sm-down {
        display: flex;
        justify-content: center;
    }
}

.nav-item.nav-item--arrow {
    flex-direction: column;
}

.nav.nav--desk .nav__item.active a.nav-item__link.text-xs {
    color: $blue;
}

.nav.nav--desk .active.nav__item:before {
    display: block;
}

.nav.nav--desk .nav__item:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    display: none;
    width: 6px;
    height: 6px;
    background-color: $blue;
    border-radius: 50%;
    transform: translateX(-50%);
}

.nav.nav--mob .nav-item {
    @include sm-down {
        display: flex;
        justify-content: center;
    }
}

.nav.nav--mob .nav-item:not(:last-child) {
    margin-bottom: 10px;
}

//.menu-overlay {
//    position: fixed;
//    width: 100%;
//    min-height: 100%;
//    background-color: $white;
//    top: 0;
//    right: 0;
//    left: 0;
//    bottom: 0;
//    z-index: -100;
//    opacity: 0;
//    transition: .3s ease-in-out;
//    //overflow-y: auto;
//    display: none;
//}

.menu-overlay__wrap {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 0 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    margin: 0 auto;
}



.nav.nav--mob {
    transform: translateY(20%);
    position: relative;
    right: auto;
    left: auto;
    top: auto;
    //padding: 140px 0 0;
    display: flex;
    justify-content: center;
}

.menu .nav.nav--mob {
    transform: translateY(0);
}

.menu-overlay__desc {
    margin-top: 60px;
    text-align: center;
}

.menu-overlay__text {
    color: $black;
    @include font-base($fw: 400,$fz: 16px,$lh: 1.45);
    font-family: 'Inter', 'Arial', sans-serif;
}

.soc-list {
    display: flex;
    margin-top: 30px;
}

.menu-overlay .soc-list {
    justify-content: center;
}

.soc-el {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
}

.menu-overlay__wrap .soc-el {
    border-radius: 50%;
    background-color: $black;
}

.soc-el:not(:last-child) {
    margin-right: 10px;
}

.menu-overlay__wrap a.soc-el__link {
    background-color: $black;
}

a.soc-el__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.soc-el__icon.icon-fb svg {
    width: 30px;
    height: 30px;
}

.soc-el__icon.icon-insta svg {
    width: 20px;
    height: 20px;
}

.menu-overlay__wrap .soc-el__icon.icon-fb svg,
.menu-overlay__wrap .soc-el__icon.icon-insta svg {
    color: $white;
}

.menu-overlay__soc.soc-list {
    justify-content: center;
}

/************ common styles ************/

.hamburger-menu {
    display: inline-block;
    padding: 3px;
    width: 29px;
    z-index: 10002;

    @include md {
        display: none;
    }
}

.bars-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14px;
}

.bars-container,
.bar {
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: $black;
    border-radius: 5px;
    display: block;
}

.bar.bar2 {
    width: 80%;
}

.overlap-container {
    position: relative;
    padding: 0 0 0 0;
    top: -1.3px;
}

.overlap-container .bar {
    position: absolute;
    top: 0;
}

.bar1,
.bar4 {
    transform-origin: center;
    position: relative;
}

.bars-container2 {
    position: relative;
}

.bars-container2 .bar {
    position: absolute;
    transform-origin: center;
}

.bars-container2 .bar1 {
    top: 5%;
    animation: makeCross1Backward 0.25s ease 0s 1 forwards, moveDownBackward 0.25s ease 0.25s 1 forwards;
}

.bars-container2 .bar2 {
    top: 50%;
    transition: opacity 0.4s ease;
}

.bars-container2 .bar3 {
    top: 95%;
    animation: makeCross2Backward 0.25s ease 0s 1 forwards, moveUpBackward 0.25s ease 0.25s 1 forwards;
}

.input-check2:checked + label .bar1 {
    animation: moveDown 0.25s ease 0s 1 forwards, makeCross1 0.25s ease 0.25s 1 forwards;
}

//.input-check2:checked + label .bar2 {
//    opacity: 0;
//}

.input-check2:checked + label .bar3 {
    animation: moveUp 0.25s ease 0s 1 forwards,
    makeCross2 0.25s ease 0.25s 1 forwards;
}

//@keyframes moveDown {
//    from { top: 5%; transform: translateY(0); }
//    to { top: 50%; transform: translateY(-50%); }
//}
//
//@keyframes moveDownBackward {
//    from { top: 50%; transform: translateY(-50%); }
//    to { top: 5%; transform: translateY(0); }
//}
//
//@keyframes moveUp {
//    from { top: 95%; transform: translateY(0); }
//    to { top: 50%; transform: translateY(-50%); }
//}
//
//@keyframes moveUpBackward {
//    from { top: 50%; transform: translateY(-50%); }
//    to { top: 95%; transform: translateY(0); }
//}
//
//@keyframes makeCross1 {
//    from { transform: rotate(0deg); }
//    to { transform: rotate(40deg); }
//}
//
//@keyframes makeCross1Backward {
//    from { top: 50%; transform: rotate(40deg) translateY(-50%); }
//    to { top: 50%; transform: rotate(0deg) translateY(-50%); }
//}
//
//@keyframes makeCross2 {
//    from { transform: rotate(0deg); }
//    to { transform: rotate(-40deg); }
//}
//
//@keyframes makeCross2Backward {
//    from { top: 50%; transform: rotate(-40deg) translateY(-50%); }
//    to { top: 50%; transform: rotate(0deg) translateY(-50%); }
//}

.nav-item__title {
    position: relative;
}

.nav-item__cont {
    max-height: 0;
    overflow: hidden;
    transition: all .1s ease;
    opacity: 0;
    visibility: hidden;
}

.nav-item__cont.open {
    max-height: none;
    opacity: 1;
    visibility: visible;
}

.icon-arrow {
    right: -18px;
    top: 0;
    cursor: pointer;
    position: absolute;
}

.icon-arrow svg {
    width: 20px;
    height: 15px;
    transform: rotate(0deg);
    transition: all .2s;
}

.icon-arrow.active svg {
    transform: rotate(180deg);
}

//
.select-wrapper {
    width: 167px;
    display: block;

    @include sm-down {
        display: none;
    }
}

.select {
    position: relative;
    width: 100%;
}

.search-block__right-top .select {
    margin-left:10px;
    width: 100%;
}

.select.is-active .select__body {
    display: block;
    z-index: 100;
}

.select__header {
    background: $white;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select__current {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.select__body {
    padding: 16px 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    display: none;
    overflow: hidden;
    background: $white;
    width: 100%;
    color: $gray-tx;
    position: absolute;
    transform: translateY(5px);
    right: 0;
    top: 100%;
    left: 0;
    z-index: 100;
}

.select__icon {
    flex-shrink: 0;
    margin-left: 5px;
    transform: rotate(180deg);
    transition: all .2s;
    width: 10px;
    height: 10px;
}

.select.is-active .select__icon {
    transform: rotate(0deg);
}

.select__item {
    display: flex;
    align-items: center;
    text-align: start;
    padding: 3px 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    background-color: inherit;
    transition: all .2s;
}

.select__item:hover {
    color: $black;
    font-weight: 600;
    font-size: 16px;
}

.select__img {
    width: 32px;
    height: 25px;
    margin-right: 8px;
}
